
html,
body,

#game-container {
  margin: 0;
  padding: 0;
}

#game-container>canvas {
  border-radius: 5px;
}

.flex-container {
  display: flex;
  justify-content: left;
}

.column {
}

#editor {
  height: 590px; 
  width: 320px;
}

#control {
  padding: 5px;
  text-align: center;
}


.code-marker {
   position: absolute; 
   background: red
}

/* Fix strange the border of NES buttons */
@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-btn {
    border-image-repeat: stretch;
  }
}