
html,
body,

#game-container {
  margin: 0;
  padding: 0;
}

#game-container>canvas {
  border-radius: 5px;
}

.flex-container {
  display: flex;
  justify-content: left;
}

.column {
}

#editor {
  height: 650px; 
  width: 350px;
}

#control {
  width: 350px;
  padding: 5px;
  text-align: center;
}

#dialog-video {
    width: 90vw;
    max-width: 1000px;
    border: none;
    padding: 0;
    background: black;
    border-radius: 12px;
}

#dialog-video::backdrop {
    background: rgba(0,0,0,0.75);
}

#dialog-video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

#dialog-help {
    width: 800px;
}

#btn_close_video {
    position: absolute;
    top: 8px;
    left: 12px;
    z-index: 2;
    background: none;
    color: white;
    font-size: 28px;
    border: none;
    cursor: pointer;
}

/* Fix strange the border of NES buttons */
@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-btn {
    border-image-repeat: stretch;
  }
}